https://teachablemachine.withgoogle.com/models/rcLo0ke8w/


body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: lavender;
}
.header_div{
    background-color: white;
    color: purple;
}

.main_div {
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
margin-top: 3px;
width:130px;
font-weight: bolder;
letter-spacing: 3px;
}
